{% extends 'base.html.twig' %}

{% block title %}Edit Tricks{% endblock %}

{% block body %}

    <div class="container">
        <h1> Editer un Tricks </h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.content) }}
        {{ form_row(form.difficulty) }}

        <br/>
        <h1>Media pour ce tricks</h1>
        <hr>
        <!-- for delete image-->
        <h1>Image pour ce tricks</h1><br/>

        {% if tricks.media is defined %}
            {% for media in medias %}
                {%  if media.text != "Embed" %}
                    <div class="col-sm">
                        <div class="img-delete">
                            <div class="row">
                                <img class="img-fluid" src="/uploads/{{ media.path }}" alt="/uploads/{{ media.text }}" width="23%;"><br/>
                            </div>
                            <div class="row">
                                <a data-toggle="modal" href="{{ path('image_delete',{id: media.id}) }}">Supprimer cette image</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <hr>
        <!-- for delete embed -->
        <h1>Vidéo pour ce tricks</h1><br/>
        {% if tricks.media is defined %}
            {% for media in medias %}
                {%  if media.text == "Embed" %}
                    <div class="delete_embed">{{ media.path|html }}</div>
                    <div class="delete_embed_link">
                        <a data-toggle="modal" href="{{ path('image_delete',{id: media.id}) }}" >Supprimer cette Vidéo</a>
                    </div>
                {% endif  %}
            {% endfor %}
        {% endif %}

        <div class="col-xs3">
            <ul class="media"
                data-prototype="{{ form_widget(form.media.vars.prototype) |e ('html_attr') }}"
                data-value="{{ form.media|length }}">
            </ul>
        </div>

        {% do form.media.setRendered %}
        <input class="btn btn-primary" type="submit" value="Enregistrer">
        {{ form_end(form) }}
    </div>








{% endblock %}


{%  block javascripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>


    <script>
        // Boite de confirmation de suppression d'image
        $('[data-toggle="modal"]').on( 'click', function attention() {

            resultat=window.confirm('Attention, vous êtes sur le point de supprimer une image du Tricks, voulez-vous continuer ?');
            if (resultat==1)
            {
            }
            else
            {
                return false;
            }

        });

    </script>


    <script>
        var $collectionHolder;

        // setup an "add a media" link

        var $addMediaButton = $('<button type="button" class="add_media_link">Ajouter une image</button>');
        var $newLinkLi = $('<li></li>').append($addMediaButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of medias
            $collectionHolder = $('ul.media');

            // add the "add a media" anchor and li to the medias ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addMediaButton.on('click', function(e) {
                // add a new media form (see next code block)
                addMediaForm($collectionHolder, $newLinkLi);
            });
        });
        function addMediaForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('value');
            console.log(index) ;

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your medias field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a media" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}


