{% extends 'base.html.twig' %}

{% block title %}Edit Tricks{% endblock %}

{% block body %}

    <div class="container">
        <h1> Editer un Tricks </h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.content) }}
        {{ form_row(form.difficulty) }}
        {{ form_row(form.category) }}

        <br/>
        <h1>Media pour ce tricks</h1>
        <hr>
        <!-- for delete image-->
        <h1>Image pour ce tricks</h1><br/>

        {% if tricks.media is defined %}
            {% for media in medias %}
                {%  if media.text != "Embed" %}
                    <div class="col-sm">
                        <div class="img-delete">
                            <div class="row">
                                <img src="{{ asset('uploads/'~media.path) }}" alt="{{ media.text }}"  />
                            </div>
                            <div class="row">
                                <a data-toggle="modal" class="btn btn-danger"
                                   href="{{ path('image_delete',{id: media.id}) }}">Supprimer cette image</a>

                                <a href="{{path('select_thumbnail', { id: media.id, trick: tricks.id}) }}"
                                   class="btn btn-primary">Définir comme image à la une </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <hr>
        <!-- for delete embed -->
        <h1>Vidéo pour ce tricks</h1><br/>
        {% if tricks.media is defined %}
            {% for media in medias %}
                {%  if media.text == "Embed" %}
                    <div class="delete_embed">{{ media.path|html }}</div>
                    <div class="delete_embed_link">
                        <a data-toggle="modal" href="{{ path('image_delete',{id: media.id}) }}" >Supprimer cette Vidéo</a>
                    </div>
                {% endif  %}
            {% endfor %}
        {% endif %}

        <div class="col-xs3">
            <ul id="media"
                data-prototype="{{ form_widget(form.media.vars.prototype) |e ('html_attr') }}"
                data-value="{{ form.media|length }}">
            </ul>


        </div>

        <div class="col-xs3">
            <ul id="embed"
                data-prototype ="{{ form_widget(form.Embed.vars.prototype)|e('html_attr') }}"
                data-index="{{ form.Embed|length }}">
            </ul>
        </div>

        {% do form.media.setRendered %}
        <input class="btn btn-primary" type="submit" value="Enregistrer">
        {{ form_end(form) }}
    </div>








{% endblock %}


{%  block javascripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>

    <script>
        // Boite de confirmation de suppression d'image
        $('[data-toggle="modal"]').on( 'click', function attention() {

            resultat=window.confirm('Attention, vous êtes sur le point de supprimer une image du Tricks, voulez-vous continuer ?');
            if (resultat==1)
            {
            }
            else
            {
                return false;
            }

        });

    </script>


    <script>
        // Script for prototype
        //media
        var $collectionHolder;
        var $addMediaButton = $('<button type="button" class="add_media_link">Ajouter une image</button>');
        var $newLinkLi = $('<li></li>').append($addMediaButton);
        console.log($newLinkLi);

        //embed
        var $collectionHolder1;
        var $addEmbedButton1 = $('<button type="button" class="add_embed_link">Ajouter une vidéo</button>');
        var $newLinkLi1 = $('<li></li>').append($addEmbedButton1);
        console.log($newLinkLi1);


        jQuery(document).ready(function() {

            // media
            $collectionHolder = $('#media');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addMediaButton.on('click', function(e) {
                addMediaForm($collectionHolder, $newLinkLi);
            });

            // embed
            $collectionHolder1 = $('#embed');
            $collectionHolder1.append($newLinkLi1);
            $collectionHolder1.data('index', $collectionHolder1.find(':input').length);
            $addEmbedButton1.on('click', function(e) {
                addEmbedForm($collectionHolder1, $newLinkLi1);
            }); // new
        });

        function addMediaForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        function addEmbedForm($collectionHolder1, $newLinkLi1) {

            var prototype = $collectionHolder1.data('prototype');
            var index = $collectionHolder1.data('index');
            var newForm1 = prototype;
            newForm1 = newForm1.replace(/__name__/g, index);
            $collectionHolder1.data('index', index + 1);
            var $newFormLi1 = $('<li></li>').append(newForm1);
            $newLinkLi1.before($newFormLi1);
        }
    </script>


    <script>
        // thumbnail Script
        $(document).ready(function(){

            $('#media').click(function() {
                setTimeout(function() {

                    $('.form-check-input').click(function(){  // Selection
                        $('.form-check-input').prop('checked', false); // selection
                        $(this).prop('checked', true);
                    });
                }, 400);
            });
        });
    </script>

{% endblock %}


