{% extends 'base.html.twig' %}

{% block title %}Edit Tricks{% endblock %}

{% block body %}

    <div class="container">
        <h1> Editer un Tricks </h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.content) }}
        {{ form_row(form.difficulty) }}
        {{ form_row(form.category) }}

        <br/>
        <h1>Media pour ce tricks</h1>
        <hr>
        <!-- for delete image-->
        <h1>Image pour ce tricks</h1><br/>
        {% if tricks.media is defined %}
            {% for media in medias %}
                {%  if media.text != "Embed" %}
                    <div class="col-sm">
                        <div class="img-delete">
                            <div class="row">
                                <img class="img-type" src="{{ asset('uploads/'~media.path) }}" alt="{{ media.text }}"/>
                            </div>
                            <div class="row">
                                <a data-toggle="modal" class="btn btn-danger"
                                   href="{{ path('image_delete',{id: media.id}) }}">Supprimer cette image</a>

                                <a href="{{path('select_thumbnail', { id: media.id, tricks: tricks.id}) }}"
                                   class="btn btn-primary">Définir comme image à la une </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <hr>
        <!-- For delete embed -->
        <h1>Vidéo pour ce tricks</h1><br/>
        {% if tricks.media is defined %}
            {% for media in medias %}
                {%  if media.text == "Embed" %}
                    <div class="delete_embed">{{ media.path|html }}</div>
                    <div class="delete_embed_link">
                        <a data-toggle="modal" class="btn btn-danger" href="{{ path('image_delete',{id: media.id}) }}">Supprimer cette Vidéo</a>
                    </div>
                {% endif  %}
            {% endfor %}
        {% endif %}

        <!-- Prototype / Collection -->

        <!-- Media -->
        <div class="row js-genus-scientist-wrapper data"
             data-prototype="{{ form_widget(form.media.vars.prototype)|e('html_attr')}}"
             data-index="{{ form.media|length }}">
            <button type="button" class="js-genus-scientist-add">Ajouter une image</button>
        </div>

        <!-- Embed -->
        <div class="row js-embed-scientist-wrapper data"
                 data-prototype ="{{ form_widget(form.Embed.vars.prototype)|e('html_attr') }}"
                 data-index="{{ form.Embed|length }}">
            <button type="button" class="js-embed-scientist-add">Ajouter une vidéo</button>
        </div>

        {% do form.media.setRendered %}
        <input class="btn btn-primary" type="submit" value="Enregistrer">
        {{ form_end(form) }}
    </div>

{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>
        // Delete Confirm msg
        $('[data-toggle="modal"]').on( 'click', function attention() {

            resultat=window.confirm('Attention, vous êtes sur le point de supprimer une image du Tricks, voulez-vous continuer ?');
            if (resultat==1)
            {
            }
            else
            {
                return false;
            }
        });
    </script>
    <script>
        // Prototype Script
        jQuery(document).ready(function() {
            // media prototype
            var $wrapper = $('.js-genus-scientist-wrapper');
            $wrapper.on('click', '.js-genus-scientist-add', function(e) {
                e.preventDefault();
                var prototype = $wrapper.data('prototype');
                var index = $wrapper.data('index');
                var newForm = prototype.replace(/__name__/g, index);
                $wrapper.data('index', index + 1 );
                $(this).before(newForm);
            });
            // Embed prototype
            var $wrapperEmbed = $('.js-embed-scientist-wrapper');
            $wrapperEmbed.on('click', '.js-embed-scientist-add', function(e) {
                e.preventDefault();
                var prototype = $wrapperEmbed.data('prototype');
                var index = $wrapperEmbed.data('index');
                var newForm = prototype.replace(/__name__/g, index);
                $wrapperEmbed.data('index', index + 1);
                $(this).before(newForm);
            });
        });
    </script>
    <script>
        // thumbnail Script
        $(document).ready(function(){
            $('.js-genus-scientist-add').click(function() {
                setTimeout(function() {
                    // language=JQuery-CSS
                    $('.form-check-input').click(function(){
                        $('.form-check-input').prop('checked', false);
                        $(this).prop('checked', true);
                    });
                }, 400);
            });
        });
    </script>
{% endblock %}


