{% extends 'base.html.twig' %}

{% block title %}Nouveau Tricks{% endblock %}

{% block body %}

<div class="container">

    <h2>Créer un Tricks & ajoutée des medias!  </h2>


    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.content) }}
    {{ form_row(form.difficulty) }}
    {{ form_row(form.category) }}


    <div class="col-xs6">
        <ul class="media"
            data-prototype="{{ form_widget(form.media.vars.prototype) |e ('html_attr') }}"
            data-index="{{ form.media|length }}"> <!-- Compter le nombre -->
        </ul>
    </div>


    <div class="col-xs6">
        <ul id="embed"
            data-prototype ="{{ form_widget(form.Embed.vars.prototype)|e('html_attr') }}"
            data-index="{{ form.Embed|length }}">
        </ul>
    </div>



    {% do form.media.setRendered %}
    <input class="btn btn-primary" type="submit" value="Enregistrer">
    {{ form_end(form) }}


</div>

{% endblock %}

{%  block javascripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>

    <script>
        //media
        var $collectionHolder;
        var $addMediaButton = $('<button type="button" class="add_media_link">Ajouter une image</button>');
        var $newLinkLi = $('<li></li>').append($addMediaButton);
        console.log($newLinkLi);

        //embed
        var $collectionHolder1;
        var $addEmbedButton1 = $('<button type="button" class="add_embed_link">Ajouter une vidéo</button>');
        var $newLinkLi1 = $('<li></li>').append($addEmbedButton1);
        console.log($newLinkLi1);


        jQuery(document).ready(function() {

            // media
            $collectionHolder = $('ul.media');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addMediaButton.on('click', function(e) {
                addMediaForm($collectionHolder, $newLinkLi);
            });

            // embed
            $collectionHolder1 = $('#embed');
            $collectionHolder1.append($newLinkLi1);
            $collectionHolder1.data('index', $collectionHolder1.find(':input').length);
            $addEmbedButton1.on('click', function(e) {
                addEmbedForm($collectionHolder1, $newLinkLi1);
            }); // new
        });

        function addMediaForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        function addEmbedForm($collectionHolder1, $newLinkLi1) {

            var prototype = $collectionHolder1.data('prototype');
            var index = $collectionHolder1.data('index');
            var newForm1 = prototype;
            newForm1 = newForm1.replace(/__name__/g, index);
            $collectionHolder1.data('index', index + 1);
            var $newFormLi1 = $('<li></li>').append(newForm1);
            $newLinkLi1.before($newFormLi1);
        }




    </script>


{% endblock %}

