{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des 4 derniers Tricks : </h1>
</div>

<div class="container">
    <!-- Features Section -->
    {% for tricks in tricks %}
        <div class="row">
            <div class="col-lg-6">
                <h2>
                    <a href="{{ path('tricks_single', {id : tricks.id , slug: tricks.slug }) }} "> {{ tricks.name }} </a> 
                </h2>
                <ul>
                    <li>
                    <strong>Modifié le : {# tricks.publishedAt #} </strong>
                    </li>
                    <li>Auteur : {{ tricks.author }}  </li>
                    <li>Difficulté : {{ tricks.difficulty }}  </li>
                    <li>Catégorie</li>
                    <li>Nombre d'image sur cette figure</li>
                </ul>
                <p>{{ tricks.description }}</p>

                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('admin_tricks_edit', {id : tricks.id } )  }}" class="btn btn-secondary" > Editer </a>

                    <form method="post" action="{{ path('admin_tricks_delete', {id: tricks.id } ) }}" 
                    style="display: inline-block" onsubmit="return confirm('Confirmer la suppression ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tricks.id ) }}">
                    <button class="btn btn-danger">Supprimer</button>
                    </form>
                    {% endif %}
            
                
            </div>
            <!-- image de bdd -->
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
            {# for media in medias #}
               <!-- <img class="img-fluid  " src="../{# media.path #}" alt="{# media.text #}" width="20%;"> -->
            {# endfor #}
</div>
        <!-- /.row -->

        <hr>
        </div>
    {% endfor %}

{% endblock %}
