{% extends 'base.html.twig' %}

{% block title %}{{ tricks.name }}{% endblock %}





{% block body %}
    <div class="container">
        <h1> Nom du Trick : {{ tricks.name }} </h1>

        <!-- Image a la une -->
        <div class="row">
            <div class="col-lg-12 text-center" >
                <div class="first-picture">
                    {% if tricks.media[0].path is defined %}
                        <img class="card-img-top" src="/uploads/{{ tricks.media[0].path}}" alt="{{tricks.media[0].text }}" >
                    {% endif %}
                </div>
            </div>
        </div>

        <p> Contenu : {{ tricks.content }} </p>

        <p> Les autres image du tricks : </p>
        {% for media in medias %}
            <img class="img-fluid " src="/uploads/{{ media.path }}" alt="" width="33%;">
        {% endfor %}

        <p> Voir des vidéo : </p>



        <!-- Commentaires -->
            <hr/>
        <h3> Vous avez {{ tricks.comments|length }} Commentaires</h3>




        <!-- Paginator-->
        {% for comment in tricks.comments %}
        <hr>
            <div class="col-sm3">
                <img class="rounded-circle" src="/uploads/users/{{ comment.user.picture }}" alt="" width="3%;">
                {{ comment.user.FirstName }}  dit :<br/>

                {{ comment.content }}
                <br/>
                <br/>
                le {{ comment.publishedAt ? comment.publishedAt|date('Y-m-d') : 'unpublished' }}
            </div>

            <hr>
        {% endfor %}
        <br/>
         <!-- end pagination -->
            {% if is_granted('ROLE_USER') %}
                <h3> <i class="pr-3 fa fa-comment"></i> Laissez nous un commentaire ! </h3>
                {{ form_start(commentForm) }}
                    {{ form_widget(commentForm) }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">publié</button>
                    {{ form_end(commentForm) }}

            {% else %}
                <h2> Veuillez vous Connecter pour participer a l'échange ! </h2>
            {% endif %}
    </div>








{% endblock %}
