{% extends 'base.html.twig' %}

{% block title %}{{ tricks.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1> Nom du Trick : {{ tricks.name }} </h1> <br/>
        <h2> <strong> Catégorie :</strong>  {{ tricks.categoryType }} </h2><br/>
        <h2> <strong> Difficulté :</strong> {{ tricks.difficultyType }} </h2> <br/>

        <!-- Image a la une -->
        <!-- Thumbnail  -->
        <div class="container-thumbnail">
        {% if tricks.media[0] is defined %}

            {% set number = 0 %}

            {% for media in tricks.media %}

                {% if media.thumbnail == true %}
                    {% set number = 1 %}
                    <img class="card-img-top" src="{{ asset('uploads/'~media.path) }}" alt="{{ media.text }}"  >
                {% endif %}

                {% if not media.thumbnail == false and number == 0 %}
                    <img class="card-img-top" src="{{ asset('uploads/'~media.path) }}" alt="{{ media.text }}">
                {% endif %}

            {% endfor %}

        {% else %}
            <img class="card-img-top" src="../uploads/TricksDefault.jpg" alt="SnowBoard-SnowTricks">
        {% endif %}
        </div>

        <p> Contenu : {{ tricks.content }} </p>

        <p> Les autres image du tricks :
        </p>
        {% for media in medias %}
            {%  if media.text != "Embed" %}
                <div class="col-sm">
                    <div class="img-delete">
                        <div class="row">
                            <img class="img-type" src="{{ asset('uploads/'~media.path) }}" alt="{{ media.text }}"/>
                        </div>
                    </div>
                </div>

            {% endif  %}
        {% endfor %}

        <br/>
        <h1> Voir des vidéo : </h1>
        <br/>
        {% for media in medias %}
            {%  if media.text == "Embed" %}
            {{ media.path|html }}
            {% endif  %}

        {% endfor %}

        <!-- Comment -->
            <hr/>
        <h3> Vous avez {{ tricks.comments|length }} Commentaires</h3>
        <div id="commentList">
            {%   for comment in comment   %}
                <hr>
                <div class="col-sm3">
                    <img class="rounded-circle" src="../uploads/users/{{ comment.user.picture }}" alt="" width="3%;">
                    {{ comment.user.FirstName }}  dit :<br/>

                    {{ comment.content }}
                    <br/>
                    <br/>
                    le {{ comment.publishedAt ? comment.publishedAt|date('Y-m-d') : 'unpublished' }}
                </div>

                <hr>
            {% endfor %}
            <br/>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button id="loadMoreComment" class="btn btn-primary">Voir plus de Commentaires</button>
            </div>
        </div>
         <!-- end pagination -->
            {% if is_granted('ROLE_USER') %}
                <h3> <i class="pr-3 fa fa-comment"></i> Laissez nous un commentaire ! </h3>
                {{ form_start(commentForm) }}
                    {{ form_widget(commentForm) }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">publié</button>
                    {{ form_end(commentForm) }}

            {% else %}
                <h2> Veuillez vous Connecter pour participer a l'échange ! </h2>
            {% endif %}
    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        click = 0;
        function loadMoreComments(event) {
            event.preventDefault();
            click++;
            var start = 3 * click;
            const url = "{{ path('loadMoreComment', {'tricks': tricks.id} )}}/" + start;
            axios.get(url).then(function(response) {
                $("#commentList").append(response.data);
            }).catch(function (error) {
                if (response.status === 403) {
                    window.alert("Vous n'êtes pas autorisé à effectuer cette action !");
                }
                else if (response.status === 404) {
                    window.alert("La page appelé n'existe pas");
                }
                else {
                    window.alert("Une erreur est survenue !");
                }
            });
        }
        document.getElementById("loadMoreComment").addEventListener("click", loadMoreComments);
    </script>

{% endblock %}

